<!-- 引入swig模板文件 -->
{% extends './include/layout.html' %}

{% block seo %}
	{% parent %}
	<!-- 自定义内容 -->
{% endblock %}

{% block content %}
<nav class="m-nav">
	<a href="https://github.com/lyzh" target="_blank" class="css mysite">
		<div class="cont">
			<h2 class="title">GitHub</h2>
			<span class="btn">View GitHub</span>
		</div>
		<span class="border border-t"></span>
		<span class="border border-r"></span>
		<span class="border border-b"></span>
		<span class="border border-l"></span>
	</a>
	<a href="http://www.cnblogs.com/GeniusLyzh/" target="_blank" class="blog mysite">
		<div class="cont">
			<h2 class="title">My Blog</h2>
			<span class="btn">View Technology</span>
		</div>
		<span class="border border-t"></span>
		<span class="border border-r"></span>
		<span class="border border-b"></span>
		<span class="border border-l"></span>
	</a>
	<a href="http://www.linjiajun.com/CV/" target="_blank" class="lab mysite">
		<div class="cont">
			<h2 class="title">About Me</h2>
			<span class="btn">View CV</span>
		</div>
		<span class="border border-t"></span>
		<span class="border border-r"></span>
		<span class="border border-b"></span>
		<span class="border border-l"></span>
	</a>
</nav>
{% endblock %}